#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Para que el contenido no se centre solo */
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}