:root {
  /* COLORES OFICIALES DELYCORP */
  --color-primary: #E31C23; /* Rojo Delycorp exacto */
  --color-secondary: #333333; /* Gris oscuro para textos y topbar */
  --color-corporate-blue:  #1215af;
  /* Colores neutros */
  --color-text-main: #212121;
  --color-text-light: #757575;
  --color-background: #FFFFFF;
  --color-light-gray: #F5F5F5;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Forzar modo claro siempre */
  color-scheme: light;
  color: var(--color-text-main);
  background-color: var(--color-background);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; /* Aseguramos fondo blanco */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Utilidades simples */
.container {
  /* Antes tenías 1280px, vamos a subirlo para que ocupe más pantalla */
  max-width: 1280px; 
  width: 100%; /* Ocupa el 95% del ancho de la pantalla */
  margin: 0 auto;
  /* Esto controla la distancia del logo al borde izquierdo. Bájalo a 0 o 1rem */
  padding: 0rem; 
}